.container {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1ps solid rgba(255, 255, 255, 0.1);
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, transparent, transparent, #0005);
}

.cloud {
  position: relative;
  width: 320px;
  height: 100px;
  background: #fff;
  border-radius: 100px;
  z-index: 100;
  filter: drop-shadow(0 0 35px #fff)
}

.cloud::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 40px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 90px 0 0 30px #fff;
}

/* .test{
  background-color: rgba(209, 45, 45, 0.333);
} */
